OPENAI_API_KEY=

# Number of scrape jobs that are allowed to run at once, optional defaults to 3
# MAX_CONCURRENT_JOBS=


# Number of scrape tasks (individual pages) that are allowed to run at once, optional defaults to 5
# MAX_CONCURRENT_TASKS=
